# ignore everything
*

# unignore folders we need
!/src
!/doc 
!/test
!/.github

# unignore source code and yaml files for config
!*.py
!*.yaml
!pyproject.toml

#unignore documentation things 
!*.rst
!*.md 

# unignore maintenance stuff 
!LICENSE
!requirements.txt
!.flake8
!doc/MakeFile
!doc/make.bat