# ignore everything
*

# unignore source code and yaml files for config
!*.py
!*.yaml

#unignore documentation things 
!*.rst
!*.md 

# unignore maintenance stuff 
!LICENSE
!requirements.txt
!.flake8
!doc/MakeFile
!doc/make.bat