# ignore everything
*

#unignore things in the models file that are human readable
!/models/**/*.py

# unignore source code and yaml files for config
!src/**/*.py
!tests/*.yml
!config/*.yml 
!tests/*.py
!pyproject.toml
!setup.py

#unignore documentation things 
!**/*.rst
!**/*.md 

# unignore maintenance stuff 
!LICENSE
!requirements.txt
!.flake8
!doc/MakeFile
!doc/make.bat
!.gitignore
!.gitattributes
!.github/workflows/*.yml 
!.github/ISSUE_TEMPLATE/*.md